:host{
    display: block;
    margin: 0 auto;
    max-width: 600px;
    margin-top: 100px;

    .ng-valid, .ng-valid.required  {
        border: 3px solid #42A948; 
      }
    .ng-invalid:not(form)  {
        border: 3px solid #a94442;
    }
    .alert div {
        background-color: #fed3d3;
        color: #820000;
        margin-bottom: 0.5rem;
        border-radius: 5px;
        padding: 5px;
        position: absolute;
        z-index: 1;
      }
}