<div class="task-list">
  <div>{{ task.title }}</div>
  <div>{{ task.done }}</div>
  <div>{{ task.order }}</div>
  <div>{{ task.description }}</div>
  <button
    type="submit"
    pButton
    pRipple
    i18n-label="@addtask"
    label="add task"
    icon="pi pi-user"
    class="p-button-success"
    (click)="createTask()"
  ></button>
  <button
    type="submit"
    pButton
    pRipple
    i18n-label="@edittask"
    label="Edit Task"
    icon="pi pi-user"
    (click)="editTask()"
  ></button>
  <button
    class="p-button-danger"
    type="submit"
    pButton
    pRipple
    i18n-label="@@delete"
    label="delete task"
    icon="pi pi-user"
    (click)="deleteTask(task.id)"
  ></button>
</div>
<p-toast key="edit"></p-toast>
<p-toast key="create"></p-toast>
<p-confirmDialog
  [style]="{ width: '50vw' }"
  [baseZIndex]="10000"
  defaultFocus="reject"
  rejectButtonStyleClass="p-button-text"
></p-confirmDialog>
