:host ::ng-deep {
  display: flex;
  flex-direction: column;
  flex-grow: 1;

  .board {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
  }

  .add-button.p-element {
    display: block;
  }

  .columns-list {
    display: flex;
    flex-grow: 2;
    gap: 10px;
  }

  .columns-item {
    display: flex;
    flex-direction: column;
  }

  .progress-spinner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%);
  }

  .cdk-drag-preview {
    box-sizing: border-box;
    border-radius: 4px;
    box-shadow: 0 5px 5px -3px rgb(0 0 0 / 20%), 0 8px 10px 1px rgb(0 0 0 / 14%),
      0 3px 14px 2px rgb(0 0 0 / 12%);
  }

  .cdk-drag-placeholder {
    opacity: 0;
  }

  .cdk-drag-animating {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  }

  .columns-list.cdk-drop-list-dragging
    .columns-item:not(.cdk-drag-placeholder) {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  }
}
