<div *ngIf="board$ | async as board" class="board">
  <h1 class="board-title">{{ board.title }}</h1>
  <div class="board-desc">Description: {{ board.description }}</div>
  <div class="button-container">
    <button
      pButton
      icon="pi pi-link"
      label="Add column"
      (click)="displayModal = true"
      class="add-button"
    ></button>
  </div>
  <div
    class="columns-list"
    cdkDropList
    cdkDropListOrientation="horizontal"
    (cdkDropListDropped)="dropColumn($event)"
    [cdkDropListData]="columns"
  >
    <div class="columns-item" *ngFor="let column of columns" cdkDrag>
      <div>
        <div cdkDragHandle>
          <div class="move-button">
            <svg width="24px" fill="currentColor" viewBox="0 0 24 24">
              <path
                d="M10 9h4V6h3l-5-5-5 5h3v3zm-1 1H6V7l-5 5 5 5v-3h3v-4zm14 2l-5-5v3h-3v4h3v3l5-5zm-9 3h-4v3H7l5 5 5-5h-3v-3z"
              ></path>
              <path d="M0 0h24v24H0z" fill="none"></path>
            </svg>
          </div>
        </div>
        <app-column [column]="column" [boardId]="board.id"></app-column>
      </div>
    </div>
  </div>
</div>
<p-progressSpinner class="progress-spinner" *ngIf="loading"></p-progressSpinner>
<p-dialog
  header="Add column"
  [(visible)]="displayModal"
  [modal]="true"
  [style]="{ width: '340px' }"
  [draggable]="false"
  [breakpoints]="{ '400px': '90vw' }"
  [resizable]="false"
>
  <div class="field">
    <label for="title" class="block">Title of column</label>
    <input
      id="title"
      [formControl]="title"
      type="title"
      aria-describedby="title-help"
      pInputText
      autofocus
    />
    <small
      *ngIf="title.hasError('required') && !title.untouched"
      id="title-help"
      class="p-error block"
      >Title is required.</small
    >
    <small
      *ngIf="title.hasError('minlength') && !title.untouched"
      id="title-help"
      class="p-error block"
      >Minimum 6 characters.</small
    >
  </div>
  <ng-template pTemplate="footer">
    <button
      pButton
      pRipple
      type="button"
      icon="pi pi-check"
      label="Add"
      (click)="addColumn()"
      class="p-button-raised"
    ></button>
  </ng-template>
</p-dialog>
<p-toast></p-toast>
<p-confirmDialog
  [style]="{ width: '50vw' }"
  [baseZIndex]="10000"
  defaultFocus="reject"
  rejectButtonStyleClass="p-button-text"
></p-confirmDialog>
