<h1 routerLink="welcome">Project <span class="title-part">Manager</span></h1>
<div class="auth-btns">
  <button *ngIf="!isLogged" pButton routerLink="authorization">Sign In</button>
  <button *ngIf="!isLogged" pButton routerLink="authorization/signup">
    Sign Up
  </button>
  <button *ngIf="isLogged" pButton routerLink="authorization/edit">
    edit profile
  </button>
  <button *ngIf="isLogged" pButton routerLink="boards">Home</button>
  <button
    (click)="authService.logout()"
    *ngIf="isLogged"
    pButton
    routerLink="authorization/signup"
  >
    Logout
  </button>
</div>
