:host {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 40px);
}

.content {
  padding-top: 100px;
  padding-bottom: 70px;
}

app-header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  padding: 0 15px;
}

app-footer {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 0 15px;
}
