<a href="https://rs.school/angular/"
  ><img class="rs" src="../../../../assets/images/rs.png" alt=""
/></a>
<p>2022</p>
<div class="team-githubs">
  <a href="https://github.com/Unbiz" target="_blank">
    <img src="../../../../assets/images/git.png" alt="foto" />Vladimir</a
  >
  <a href="https://github.com/5E1EMENT" target="_blank"
    ><img src="../../../../assets/images/git.png" alt="foto" />Daniil</a
  >
  <a href="https://github.com/andreypotkas" target="_blank"
    ><img src="../../../../assets/images/git.png" alt="foto" />Andrey</a
  >
</div>
