:host {
  display: flex;
  flex: 0 0 auto;
  justify-content: space-between;

  .rs {
    height: 50px;
  }

  .team-githubs {
    display: flex;
    align-items: center;
    column-gap: 20px;

    a {
      display: flex;
      align-items: center;
      text-decoration: none;
      column-gap: 10px;
    }
  }
}
