:host {
  display: flex;
  justify-content: space-between;

  .rs {
    height: 50px;
  }
  .team-githubs {
    display: flex;
    align-items: center;
    column-gap: 20px;
    a {
      text-decoration: none;
      display: flex;
      align-items: center;
      column-gap: 10px;
    }
  }
}
