<a href="https://rs.school/angular/"><img class="rs" i18n-src="@@srcfooter" src="../../../../en/assets/images/rs.png"
    alt="" /></a>
<p>2022</p>
<div class="team-githubs">
  <a href="https://github.com/Unbiz" target="_blank">
    <img i18n-src="@@srcfooter-x" src="../../../../en/assets/images/git.png" alt="foto" />Vladimir</a>
  <a href="https://github.com/5E1EMENT" target="_blank"><img i18n-src="@@srcfooter-x"
      src="../../../../en/assets/images/git.png" alt="foto" />Daniil</a>
  <a href="https://github.com/andreypotkas" target="_blank"><img i18n-src="@@srcfooter-x"
      src="../../../../en/assets/images/git.png" alt="foto" />Andrey</a>
</div>