<form
  [formGroup]="userEdit"
  (ngSubmit)="update()"
  class="surface-card p-4 shadow-2 border-round"
>
  <div class="text-center mb-5">
    <div class="text-900 text-3xl font-medium mb-3">Edit profile</div>
  </div>

  <div>
    <label for="name" class="block text-900 font-medium mb-2">Name</label>
    <input
      name="name"
      formControlName="name"
      id="name"
      type="text"
      pInputText
      class="w-full mb-3"
    />

    <div
      *ngIf="nameUpdate?.invalid && (nameUpdate?.dirty || nameUpdate?.touched)"
      class="alert alert-danger"
    >
      <div *ngIf="nameUpdate?.errors?.['required']">Please enter a name</div>
    </div>

    <label for="login" class="block text-900 font-medium mb-2">Login</label>
    <input
      name="login"
      formControlName="login"
      id="login"
      type="text"
      pInputText
      class="w-full mb-3"
    />

    <div
      *ngIf="
        loginUpdate?.invalid && (loginUpdate?.dirty || loginUpdate?.touched)
      "
      class="alert alert-danger"
    >
      <div *ngIf="loginUpdate?.errors?.['required']">Please enter a login</div>
    </div>

    <label for="password" class="block text-900 font-medium mb-2"
      >Password</label
    >
    <input
      formControlName="password"
      id="password"
      type="password"
      pInputText
      class="w-full mb-3"
    />

    <div
      *ngIf="
        passwordUpdate?.invalid &&
        (passwordUpdate?.dirty || passwordUpdate?.touched)
      "
      class="alert alert-danger"
    >
      <div *ngIf="passwordUpdate?.errors?.['required']">
        Please enter a password
      </div>
    </div>

    <button
      type="submit"
      pButton
      pRipple
      label="Update"
      icon="pi pi-user"
      class="w-full"
    ></button>
  </div>
</form>
<p-confirmDialog
  [style]="{ width: '50vw' }"
  [baseZIndex]="10000"
  defaultFocus="reject"
  rejectButtonStyleClass="p-button-text"
></p-confirmDialog>
<p-toast></p-toast>
<button
  id="delete-btn"
  (click)="delete()"
  pButton
  pRipple
  label="Delete user"
  icon="pi pi-user"
  class="w-full"
></button>
