<h1>Welcome</h1>

<div>
    <h2>Project Manager</h2>
    <p>Project Manager помогает командам эффективно решать рабочие задачи.</p>
    <p>Работайте в команде, управляйте проектами и выводите продуктивность на новый уровень собственным уникальным способом вместе с Project Manager.</p>
    <button pButton pRipple label="create an account to get started" icon="pi pi-user"></button>
</div>

<div>
    <h2>Our team</h2>
    <div class="team-description">
        <p-card header="Name" subheader="Developer" [style]="{width: '360px'}" styleClass="p-card-shadow">
            <ng-template pTemplate="header">
                <img alt="Card" src="assets/showcase/images/usercard.png">
            </ng-template>
            <p>Description</p>
        </p-card>
        <p-card header="Name" subheader="Developer" [style]="{width: '360px'}" styleClass="p-card-shadow">
            <ng-template pTemplate="header">
                <img alt="Card" src="assets/showcase/images/usercard.png">
            </ng-template>
            <p>Description</p>
        </p-card>
        <p-card header="Name" subheader="Developer" [style]="{width: '360px'}" styleClass="p-card-shadow">
            <ng-template pTemplate="header">
                <img alt="Card" src="assets/showcase/images/usercard.png">
            </ng-template>
            <p>Description</p>
        </p-card>
    </div>
</div>