<form [formGroup]="modalForm" (ngSubmit)="onSubmit()">
  <div class="formgrid grid">
    <div class="field col-6">
      <label for="title" i18n="@@title">Title</label>
      <input
        id="title"
        type="text"
        formControlName="title"
        class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full"
      />
    </div>
    <div class="field col-6">
      <label for="description" i18n="@@Descrip">Description</label>
      <input
        id="description"
        type="text"
        formControlName="description"
        class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full"
      />
    </div>
  </div>
  <button
    pButton
    type="submit"
    label="Create"
    i18n-label="@@createbtn"
    class="p-button-raised p-button-rounded"
  ></button>
</form>
