<form [formGroup]="modalForm" (ngSubmit)="onSubmit()">
  <div class="formgrid grid">
    <div class="field col-6">
      <label for="title" i18n="@@title">Title</label>
      <input pInputText id="title" type="text" [formControl]="title"
        class="text-base text-color surface-overlay p-2 border-round appearance-none outline-none focus:border-primary w-full" />
      <small *ngIf="title.hasError('required') && !title.untouched" id="title-help" class="p-error block">Title is
        required.</small>
      <small *ngIf="title.hasError('minlength') && !title.untouched" id="title-help" class="p-error block">Minimum 6
        characters.</small>
    </div>
    <div class="field col-6">
      <label for="description" i18n="@@Descrip">Description</label>
      <input pInputText id="description" type="text" [formControl]="description"
        class="text-base text-color surface-overlay p-2 border-round appearance-none outline-none focus:border-primary w-full" />
      <small *ngIf="description.hasError('required') && !description.untouched" id="title-help"
        class="p-error block">Description is
        required.</small>
      <small *ngIf="description.hasError('minlength') && !description.untouched" id="title-help"
        class="p-error block">Minimum 20
        characters.</small>
    </div>
  </div>
  <button pButton type="submit" label="Submit" i18n-label="@@createbtn" class="p-button-raised p-button-rounded"
    [disabled]="modalForm.invalid"></button>
</form>